@model weddingPlanner.Models.logRegCompositeModel

<div asp-validation-summary="All"></div>
<form asp-controller="User" asp-action="register" method="post">
    <label asp-for="registration.firstName"></label>
    <input asp-for="registration.firstName">
    <label asp-for="registration.lastName"></label>
    <input asp-for="registration.lastName">
    <label asp-for="registration.email"></label>
    <input asp-for="registration.email">
    <label asp-for="registration.password"></label>
    <input asp-for="registration.password">
    <label asp-for="registration.comparePassword"></label>
    <input asp-for="registration.comparePassword">
    <input type="submit" value="Register">
</form>
<form asp-controller="User" asp-action="login" method="post">
    <label asp-for="login.email"></label>
    <input asp-for="login.email">
    <label asp-for="login.password"></label>
    <input asp-for="login.password">
    <input type="submit" value="Login">
</form>